# eclipse
eclipse/
bin/
*.launch
.settings/
.metadata/
.classpath/
.project/

# idea
out/
gen/
classes/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/
.kotlin/

# netbeans
.nb-gradle/
.nb-gradle-properties/

# other
run/
runs/
.DS_Store
Thumbs.db
.vscode/